.button {
    background-color: bisque;
    border: 10px;
    padding: auto;
    margin: 10px;
    width: 30px;
    height: 20px;
    cursor:pointer;
    border-radius:10px;
    
}



.button-container {
    display: flex;

}
